@font-face {
    font-family: 'roboto-reg';
    src: url(../fonts/Roboto-Regular.ttf) ,format('truetype');
    
}
@font-face {
    font-family: 'roboto-med';
    src: url(../fonts/Roboto-Medium.ttf) format('truetype');
}


@font-face {

    font-family: 'archivo';

    src: url(../fonts/Archivo-Black.ttf) format('truetype');
}